.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
:root {
    --logocolor: #51c6ab;
    --logo: 'Lobster', cursive;
    --topNavBg: #4ccec2;
    --bannerBg: #3dc4b6;
    --sliderHover: #6ad5cd;
    --headerTextColor: #a4a4a4;
    --buttonColor: #3abf92;
    --featuredColor: #3cc3b5;
    --bottomFooter: #2ea89b;
    --mainFont: 'Oswald', sans-serif;
}

*{box-sizing:border-box}


body {
    margin: 0;
    padding: 0;
}

.inner {
    margin: 0 auto;
    width: 80%;
}

.logo {
    color: var(--logocolor);
    font-family: var(--logo);
    font-size: 40px;
    /* border: 2px solid orangered; */
    margin: 10px auto;
    width: 350px;
}


.top-header .inner {
    /* border: 2px solid green; */
    height: 70px;
}

.top-bar-inner {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}


input {
    /* border: 3px solid red; */
    width: 500px;
}


.cart {
    text-align: right;
    font-size: 30px; 
    width: 350px;
}

span {
    color: var(--logocolor);
}

.top-nav {
    background-color: var(--topNavBg);
}

li {
    display: inline;
    padding: 0 7px;
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    border-right: 3px solid white;
}

a {
    text-decoration: none;
    color: white;
}

#contact-us {
    border-right: none;
}

.section1 {
    background-color: var(--bannerBg);
}

.section1 .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
}

.levi-img {
    width: 400px;
    height: 400px;
    /* border: 3px solid black; */
}

.section1-box {
    width: 350px;
    color: whitesmoke;
    /* border: 2px solid yellowgreen; */
}

.section1-header {
    font-size: 35px;
    text-transform: uppercase;
    font-family: var(--mainFont);
    
}

.section1-text {
font-family: var(--mainFont);
}

.shop-now-btn {
  font-family: var(--mainFont);
  text-transform: uppercase;
  font-size: 25px;
  margin: auto 10px;
  padding: 2px 18px;
  border-radius: 7px;
  background-color: var(--bannerBg);
  color: whitesmoke;
  border-color: whitesmoke;
  border: 3px solid;
}

.section2 .inner {
    display: flex;
    justify-content: space-between;
    /* height: 200px; */
    /* border: 2px solid red; */
}

.section2-header {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--headerTextColor);
    /* border: 2px solid salmon; */
    width: 150px;
}

.section2-box1, .section2-box2, .section2-box3 {
    width: 400px;
    /* height: 200px; */
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid yellow; */
}

.section2-shoes, .section2-tshirts, .section2-pants {
    width: 175px;
}

.shop-btn {
    padding: 8px 15px;
    background-color: var(--bannerBg);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.section3 .box-wrapper {
    display: flex;
    flex-direction: column;
}


.featured-heading {
    background-color: var(--bannerBg);
    text-transform: uppercase;
    color: whitesmoke;
    height: 75px;
    padding: 25px 175px;
}

.section3 .inner {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
     /* border: 2px solid red; */
    /* height: 1000px; */
}

.featured-product {
    width: 300px;
    height: 400px;
    border-bottom: 10px solid var(--bannerBg);
}

.section3-img {
    height: 140px;
    width: 200px;
}

.section3-h3 {
    text-transform: uppercase;
    color: var(--headerTextColor);
    /* height: 75px; */
    font-size: 30px;
}

.section3-p {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    color: var(--headerTextColor);
    /* height: 75px; */
}

.buy-now-btn {
    max-width: 25%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: var(--bannerBg);
    border: none;
}


.top-footer {
    background-color: var(--bannerBg);
    height: 500px;
}

.top-footer .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.top-footer-header {
    font-size: 25px;
    color: whitesmoke;
    text-transform: uppercase;
}

.footer-box p {
    color: whitesmoke;
}

.bottom-footer {
    background-color:var(--bottomFooter);
    height: 25px;
} 
